<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to mxChat</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <div class="welcome-card">
            <h1>Welcome to mxChat</h1>
            <p>Connect with friends and family in a modern and fluent environment.</p>
            <a href="/download" class="download-button">Download Client</a>
            
            <!-- 添加跳转到重置密码页面的按钮 -->
            <a href="/reset-password.html" class="download-button">Reset Password</a>
        </div>
    </div>
</body>
</html>